mixin card(post)
    neucardcontainer.mb-50.mt-10
        header.post-card-header
            if post.feature_image
                figure.neucardimage(style='background-image: url( #{post.feature_image});')
                    a(href=post.url)
                        img.neucardimage(src=post.feature_image alt=post.title)
            a.post-card(href=post.url)
            .neuradius
                .fancy-box-header
                    .h2 #{post.title}
                .fancy-box-time-container
                    i.fad.fa-clock
                        include ../partials/getreadingtime.njk
                        span min read
                .fancy-box-tags-container
                    .post-card-tags
                        if post.tags
                            each tag in post.tags.slice(0,1)
                                a(href=tag.url)
                                    span #{ tag.name }
                .fancybody
                    h3
                        a.text-white.titlefancycard(href=post.url)
                          |  #{post.title}
                .fancy-box-footer.text-center.pb-30
                    .neubutton.effect-shine
                        a(href=post.url)
                            | Read On