a.post-card(href=post.url)
    header.post-card-header
        img.post-card-image(src=post.feature_image alt=post.title)
        .post-card-tags
            if post.tags
                each tag in post.tags
                    span #{ tag.name } 
        h2.post-card-title #{ post.title }
    .post-card-body
        .post-card-excerpt
            p #{ post.excerpt }
    footer.post-card-footer
        .post-card-footer-left
            a.neubutton(href=post.url) Read More
        .post-card-footer-right
            div #{ post.html | safe | getReadingTime } min read
