.minineucardcontainer
    a.mini-card(href=post.url)
        img.mini-card-image(src=post.feature_image alt=post.title)
        h6.mini-card-title #{ post.title }
    a.minineubutton(href=post.url) Read On