.minineucardcontainer
    a(href=post.url)
        img.mini-card-image(src=post.feature_image alt=post.title)
        p.mini-card-title #{ post.title }
    a.btn.smallbtn.text-center(href=post.url) Read On